.md-grid {
  max-width: 1900px; 
}

/* docs/stylesheets/extra.css */
.text-center {
  text-align: center;
}

.text-small {
  font-size: small;
}

abbr[title] {
  text-decoration: none; /* Quitamos el subrayado por defecto del navegador */
  border-bottom: 1px dotted; /* Añadimos el subrayado punteado que quieres */
  cursor: help; /* Cambia el cursor a un puntero con un '?' */
}